<h2>CELEBRITIES</h2>
{{#each celebrities}}
<ul>
    <li>{{this.name}}</li>
<form method="post" action="/celebrities/{{this._id}}/delete">
    <button>DELETE</button>
</form>
<a href="/celebrities/{{this._id}}">See details</a>
</ul>
    {{/each}}