<h2>NEW CELEBRITY</h2>
<form method="POST" action="/celebrities/create">
<label for="name"></label>
<input type="text" value="name" name="name" />
<label for="occupation"></label>
<input type="text" value="occupation" name="occupation" />
<label for="catchPhrase"></label>
<input type="text" value="catchPhrase" name="catchPhrase" />
<button>Create</button>
</form>